
body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden; /* Hide overflow to prevent scrollbars */
background-color:white;
}

a {
    text-decoration: none;
    text-emphasis-style: none;
    color: black;
}


.draggable {
width: 490px;
height: 280px;
background-color: none;
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 8px;
position: absolute;
cursor: grab; /* Cursor indicates that the element can be dragged */
z-index: 100;
}

.coordinates {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    background-color: black;

}

#clock {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
    background-color: black;
}

.info{
    position: absolute;
    width: 90%;
    top: 10px;
    left: 10px;
    font-family: sans-serif;
    font-size: 35px;
    color: black;
    text-emphasis-style: underline;

}

img {
z-index: -100;
width: 500px;
height: 500px;
position: absolute;
}

.blocker2 {
position: absolute;
background: transparent;
width: 510px;
height: 510px;
z-index: 200;
}

@media screen and (max-width: 600px) {

    .coordinates {
            font-size: 20px;
        }

        #clock {
            font-size: 20px;
        }

.info{
    font-size: 20px;
}

img {
z-index: -100;
width: 300px;
height: 300px;
}

.blocker2 {
position: absolute;
background: transparent;
width: 310px;
height: 310px;
z-index: 200;
}

.draggable {
width: 290px;
height: 165px;
}
}